<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #c9d2e6;"
          href="https://www.facebook.com/"
          role="button"
          ><i class="fab fa-facebook-f">
            <img src="assets/face.jpeg" width="30px">
            </i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #33a0f3;"
          href="https://twitter.com/"
          role="button"
          ><i class="fab fa-twitter">
            <img src="assets/twitter.png" width="30px">
            </i
        ></a>
  
        <!-- Google -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #f19185;"
          href="https://www.google.com/"
          role="button"
          ><i class="fab fa-google">
            <img src="assets/google.png" width="30px">
            </i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #ec6847;"
          href="https://www.instagram.com/"
          role="button"
          ><i class="fab fa-instagram">
              <img src="assets/insta.jpeg" width="30px">
            </i
        >

         </a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #1f2020;"
          href="https://www.linkedin.com/"
          role="button"
          ><i class="fab fa-linkedin-in">
            <img src="assets/linked.png" width="30px">
            </i
        ></a>
       
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>